body{
    margin: 0;
}
header{
    height: 20vh;
    width: 100%;
    background-color: aqua;
    justify-content: center;
}
main{
    background-color: blueviolet;
    height: 50vh;
    width: 100vh;
   justify-content: center;
}
form{
    justify-content: center;
}
footer{
    background-color: green;
    height: 20vh;
    width: 100vh;
}